{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.9.0"}
         seancorfield/clj-new {:git/url "https://github.com/seancorfield/clj-new"
                               :sha     "108f27159501f8ce12564b398b0ea50def3892b1"}}}
