{:deps   true
 :builds {:app {:target     :browser
                :output-dir "target/app/js"
                :asset-path "/js"
                :modules    {:app {:entries [{{ns}}.app]}}
                :devtools   {:autoload  true
                             :http-root "target/app"
                             :http-port 8080}}}}
